@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&family=Quicksand:wght@300;400;600;700&display=swap');
body {
    background: var(--color-bg);
    font-family: 'Quicksand', sans-serif;
    color: var(--color-text);
    font-size: 20px;
    line-height: 140%
}

.header {
    width: 100%;
    height: 70px;
    padding: 10px 15px 0 15px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__links:hover {
    background: none;
}

.logo {
    height: 60px;
    width: 60px;
}

.menu__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu__icon {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.menu__icon {
    .icon {
        fill: var(--color-icon);
    }
    .circle {
        fill: var(--color-circle);
        stroke: var(--color-icon);
    }
}

.menu__icon--active {
    .icon {
        fill: var(--color-icon--active);
    }
    .circle {
        fill: var(--color-circle--active);
        stroke: var(--color-icon--active);
    }
}

.menu__icon:hover {
    .icon {
        fill: var(--color-icon--active);
    }
    .circle {
        fill: var(--color-circle--active);
        stroke: var(--color-icon);
    }
}

.main {
    max-width: 100vw;
    margin: 0 7%;
}

.grid {
    display: grid;
    grid-template-columns: 6.5% 1fr;
}

.title {
    font-family: 'Exo 2', sans-serif;
    color: var(--color-text);
    line-height: 140%;
}

.title--main {
    font-size: 41px;
    grid-column-start: 1;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.text--secondary {
    font-size: 35px;
}

.textBox {
    border: solid 2px var(--color-border);
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 28px;
    position: relative;
}

.colorBox {
    height: 28px;
    width: 56px;
    position: absolute;
    top: -14px;
    right: -10px;
}

.colorBox--bk {
    background: var(--color-boxColor);
}

.colorBox--pink {
    background: #EACFEC;
}

.colorBox--gold {
    background: #CBAF77;
}

.p--strong {
    font-weight: 700;
}

.footer {
    background: var(--color-bg);
    .footer__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
    }
    .footer__text {
        text-align: left;
    }
    .darkMode,
    .lightMode {
        cursor: pointer;
        text-decoration: underline;
        position: relative;
        right: 20px;
    }
    .darkMode:hover,
    .lightMode:hover {
        background: var(--color-links--hoverBg);
        color: var(--color-links--hoverColor);
    }
}

//reset
[data-theme='light'] {
    --color-bg: #fff;
    --color-bg-offset: #343434;
    --color-text: #343434;
    --color-text-offset: #fff;
    --color-links: #343434;
    --color-links--hoverBg: #343434;
    --color-links--hoverColor: #fff;
    --color-links--visited: #9800b3;
    --darkMode_display: inline;
    --lightMode_display: none;
    --color-border: #343434;
    --color-boxColor: #343434;
    --color-circle: #343434;
    --color-circle--active: #fff;
    --color-icon: #fff;
    --color-icon--active: #343434;
}

[data-theme='dark'] {
    --color-bg: #343434;
    --color-bg-offset: #fff;
    --color-text: #fff;
    --color-text-offset: #343434;
    --color-links: #fff;
    --color-links--hoverBg: #fff;
    --color-links--hoverColor: #343434;
    --color-links--visited: #eebb54;
    --darkMode_display: none;
    --lightMode_display: inline;
    --color-border: #fff;
    --color-boxColor: #fff;
    --color-circle: #fff;
    --color-circle--active: #343434;
    --color-icon: #343434;
    --color-icon--active: #fff;
}

:root {
    --color-bg: #fff;
    --color-bg-offset: #343434;
    --color-text: #343434;
    --color-text-offset: #fff;
    --darkMode_display: inline;
    --lightMode_display: none;
}

@media(prefers-color-scheme: dark) {
     :root {
        --color-bg: #343434;
        --color-bg-offset: #fff;
        --color-text: #fff;
        --color-text-offset: #343434;
        --darkMode_display: none;
        --lightMode_display: inline;
    }
}

ul {
    list-style: none;
}

a {
    color: var(--color-links);
}

a:hover {
    background-color: var(--color-links--hoverBg);
    color: var(--color-links--hoverColor);
}